<!doctype html>
<html>
    <head>
        <link rel="icon" href="https://pbs.twimg.com/profile_images/1012810359684493312/lUr-Uls5_400x400.jpg">
        <title>{{title}}</title>
    </head>
<body>
    <h4><a href="http://localhost:5000/">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:5000/blog">ALL POSTS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:5000/newpost">NEW POST</a></h4>
    <h4 style="text-align:right"><a href="http://localhost:5000/login">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:5000/logout">LOGOUT</a></h4>
    {% block content %}
    {% endblock %}

</body>
</html>